commands:
  01_setup_swap:
    test: test ! -e /var/swapfile
    command: |
      dd if=/dev/zero of=/var/swapfile bs=1M count=2048
      chmod 600 /var/swapfile
      mkswap /var/swapfile
      swapon /var/swapfile
  02_bind_tmp_to_disk:
    test: df -T /tmp | grep -q tmpfs
    command: mount --bind /var/tmp /tmp
    ignoreErrors: true

files:
  "/etc/pip.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      [global]
      no-cache-dir = true